@import "~thisvui/src/assets/utilities/initialize";
@import "~thisvui/dist/sass/themes/winter/winter";
@import "~thisvui/dist/sass/themes/colors";
@import "~thisvui/dist/sass/thisvui";

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero__content img{
  animation: logo 1s linear forwards 0.5s;
  transform: scale(0);
}

@keyframes logo {
  0%{
    transform: scale(0)
  }
  100% {
    transform: scale(1)
  }
}



